.intro-section-wrapper {
  padding: 30px;
  background-color: aliceblue;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 80%;
  margin: 3rem auto;
  position: relative;
}

.heading-weight-500{
  font-weight: 500;

}
/* .img-wrapper{
  position: absolute;
  
  right:3rem;
  top:0;
}
.artist{
  
  position: relative;
  mix-blend-mode:multiply;
} */
.intro-section-wrapper > h1 {
  padding: 0 13rem;
  line-height: 1.2;
  text-align: start;
  font-size: 45px;
  /* font-weight: 700; */
  margin-bottom: 2rem;
}
.intro-section-text {
  padding: 1rem 2rem;
  font-size: 18px;
  line-height: 1.5;
  width: 70%;
  font-weight: 500;
  color: #403b3b;
  margin: 0 auto;
}
.intro-one {
  margin: 1rem auto;
}
.intro {
  min-height: 85vh;
  background-color: rgba(218, 63, 63, 0.706);
}
.intro-wrapper {
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-direction: column;
}



.item-name {
  font-weight: 700;
  margin-top: 1rem;
  font-size: large;
}




.core {
  padding: 3rem;
}
.core-wrapper {
  display: grid;
  grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr);
  gap: 2rem;
  grid-template-columns: minmax(200px, 1.4fr) minmax(200px, 1fr) minmax(
      200px,
      1fr
    );
}
.core-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  border-radius: 15px;
}
.corel {
  background-color: rgb(243, 226, 226);
}
.claw {
  background-color: #bafcfd;
}
.early {
  background-color: rgb(255, 178, 222);
}
.low {
  background-color: rgb(247, 245, 215);
}
.count {
  font-size: 40px;
  /* font-weight: 700; */
}
.count-one {
  font-size: 24px;
  
}
.faith {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0rem 2rem;
}
.faith h2 {
  /* font-weight: bold; */
  font-size: 30px;
  margin-bottom: 10px;
}
.faith span {
  font-size: 20px;
  font-weight: 500;
}
.values {
  padding: 2rem 6rem;
  margin: 2rem 0rem;
  min-height: 90vh;
  background-color: rgb(3, 12, 80);
}
.values-wrapper {
  display: flex;
  empty-cells: hide;
  height: 100%;
  color: rgb(237, 233, 233);
}
.values-list {
  height: 100%;
  display: flex;
}
.gle {
  flex-basis: 50%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.step {
  display: flex;
  line-height: 2;
  position: relative;
  justify-content: flex-start;
}
.step:not(:last-child) {
  padding-bottom: 5rem;
}
.content {
  flex: 1;
}

.number {
  flex-basis: 15%;
}

.number span {
  display: inline-flex;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  background-color: aquamarine;
  color: black;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2;
  color: blue;
  flex: 0 0 auto;
  filter: drop-shadow(0 0px 6px rgb(233, 227, 227));
  justify-content: center;
}
.step:not(:last-child)::before {
  content: "";
  border: none;
  position: absolute;
  top: 3.2rem;
  left: 1.3rem;
  height: calc(100% - 4.5rem);
  border-left: 2px dashed gray;
  border-width: thin;
  
}
.skilled-wrapper{
display: flex;
flex-direction: column;
align-items: center;
padding:3rem 6rem;
}
.skilled-works{
  display: grid;
  gap:2rem;
  width: 100%;
  margin: 2rem 0rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,minmax(100px,1fr));
}
.skilled-item{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgb(255 255 255);
  justify-content: space-evenly;
  /* background-color: rgb(205, 203, 203); */
}
.skilled-item:hover{
  background-color: aliceblue;
  cursor:pointer;
}
.skilled-item p{
  font-weight: 500;
  margin-bottom: 3px;
  font-size: 18px;
}


.heading-size-22{
  font-size: 22px;
}

.ad-banner{
  height: 80vh;
  margin: 3rem 0rem;
  
}
.banner-wrapper {
  margin: auto;
  display: flex;
  background-color: rgb(18, 199, 199);
  padding: 5rem;
  justify-content: flex-start;
  border-radius: 30px;
  height: 90%;
  align-items: center;
  width: 83%;
  font-family: 'PT Serif', serif;
}
.heading-size-3{
  font-size: 2.5rem;
}
.heading-weight-700{
  font-weight: 700;
}
.banner{
  flex-basis: 60%;
}

.try{
  margin-top: 2rem;
}