<header>
  <div class="header-nav">
    <div class="logo">
      <a class="links" routerLink="/">Swifteruns</a>
    </div>
    <nav class="finder">
      <ul class="calm list-style">
        <li><a class="links link-color">Finder's services</a></li>
        <li><a class="links link-color" routerLink="/find-work">Hire</a></li>
        <li><a class="links link-color" routerLink="/">Find</a></li>
      </ul>
    </nav>
    <div class="rhema">
      <ul class="list-style">
        <li><a class="links link-color" routerLink="/login">Sign In</a></li>
        <li class="over"><a class="links vid" routerLink="/signup">Join</a></li>
      </ul>
    </div>
  </div>
</header>
