<footer>
  <div class="footer-wrapper">
    <div class="footer-nav">
      <div class="categories brew">
        <div class="coast">Categories</div>
        <ul class="roll">
          <li>Artisans</li>
          <li>Engineering & Architecture</li>
          <li>Software & Development</li>
          <li>Writing & Editing</li>
          <li>Video Editing</li>
          <li>Photography</li>
          <li>Data Analysis</li>
          <li>Voice Artist</li>
          <li>Animator</li>
        </ul>
      </div>
      <div class="resources brew">
        <div class="coast">Resources</div>
        <ul class="roll">
          <li>Help & Support</li>
          <li>Blog</li>
          <li>Customer support</li>
          <li>Buying on Lorem</li>
          <li>Selling on Lorem</li>
          <li>Lorem guides</li>
        </ul>
      </div>
      <div class="about brew">
        <div class="coast">About Us</div>
        <ul class="roll">
          <li>Contact Us</li>
          <li>Customers</li>
          <li>Careers</li>
          <li>Our Policy</li>
          <li>Terms & Conditions</li>
        </ul>
      </div>
      <div class="community brew">
        <div class="coast">Community</div>
        <ul class="roll">
          <li>Blog</li>
          <li>Forum</li>
          <li>Customer Succes Stories</li>
          <li>Affiliates</li>
          <li>Invite a friend</li>
          <li>Become a seller</li>
          <li>Events</li>
          <li>Podcasts</li>
        </ul>
      </div>
    </div>
    <div class="footer-socials">
      <div class="footer-logo">Lorem</div>
      <ul class="socials">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Youtube</li>
      </ul>
    </div>
  </div>
</footer>
